body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
  }
  figcaption {
    display: block;
    background-color: rgb(229 229 229);
  }
  .table {
    border-color: black;
    padding: 50%;
    background-color: rgb(10%, 20%, 30%, 0.1);
  }
  img {
    display: block;
    max-width: 100%;
  }
  #image {
    min-width: 50%;
    margin: auto;
    height: auto;
    image-resolution: 20%;
  }
  #img-caption {
    margin: 15px 0 5px 0;
  }
  .table {
    background-image: url(https://www.jagranimages.com/images/newimg/20082022/20_08_2022-dr_apj_abdul_kalaam_22995093.jpg);
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
  }
  